/***********************************************************************************************************************
  Buttons
***********************************************************************************************************************/

/* Parcel buttons */

.parcel-button {
    -fx-background-color : transparent;
    -fx-cursor : hand;
    -fx-pref-width : 110;
    -fx-pref-height : 110;
    -fx-background-image : url('../images/icon_box_tubes.png');
    -fx-background-position : center;
    -fx-background-repeat : no-repeat;
    -fx-background-size : auto;
}

.parcel-button:selected {
    -fx-background-image : url('../images/icon_box_tubes_sel.png');
}

.parcel-button:selected .image-view {
    -fx-effect : dropshadow(gaussian, grey, 10, 0, 0, 0);
}

.parcel-button:collecting {
    -fx-background-image : url('../images/icon_box_empty.png');
}

/* Hover selector */
.parcel-button,
.labdep-button {
    -fx-border-width : 0;
    -fx-border-insets : 2;
    -fx-background-insets : 2;
}

.parcel-button:hover,
.labdep-button:hover {
    -fx-background-radius : 5;
    -fx-background-color : #e3e3e3;
}

/* Lab dep buttons */

.labdep-button:selected {
    -fx-border-radius : 5;
    -fx-border-width : 2;
    -fx-border-color : #09c2f6;
}

.labdep-button {
    -fx-padding : -2;
    -fx-background-color : transparent;
    -fx-cursor : hand;
    -fx-pref-width : 110;
    -fx-pref-height : 110;
    -fx-background-position : center;
    -fx-background-repeat : no-repeat;
    -fx-background-size : auto;
}

.transparent-check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 3px;
}

/* Top toggles */
#btnScan .image-view {
    -fx-image : url('../images/icon_small_scan.png');
}

#btnSort .image-view {
    -fx-image : url('../images/icon_small_sort.png');
}

#btnPrepare .image-view {
    -fx-image : url('../images/icon_small_spin.png');
}

#btnLabDeps .image-view {
    -fx-image : url('../images/icon_small_done.png');
}

#orderLabel:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}
